.Tabs{
    box-sizing: border-box;
    height: calc(100vh - 4em);
    padding: 0 5px;
    .TabList{
        display: flex;
        place-content: flex-start;
        list-style-type: none;
        flex-grow: 1;
        cursor: pointer;
        gap: 1px;
        .Tab{
            padding: 5px;
            text-align: center;
            border: 0;
            width: 15em;
            text-overflow: ellipsis;
            outline: none;
            transition: background-color 0.3s ease;
            background-color: #7f7f7f;
            border-radius: 0px 20px 0px 0px;
            &:hover{
                filter: brightness(1.2);
            }
        }
        .Tab-Selected {
            border-bottom: 3px solid black;
            background-color: #3f3f3f;
            color: white;
        }
    }
    .TabPanel {
        background-color: #ccc;
        padding:0;
    }
}