.DeploymentCover{
    border-radius: 5px;
    border: 0.2px solid darkgray;
    overflow: hidden;
    display: flex;
    flex-flow: column nowrap;
    place-content: center;
    .DeploymentTitle{
        padding: 5px;
        background-color: #171515;
        color: white;
        height: 3em;
        display: flex;
        flex-flow: row nowrap;
        width: 100%;
        place-content: center;
        place-items: center;
        .packageName{
            font-size: 1.5rem;
            font-weight: 600;
            margin: 0;
            padding: 0;
            margin-left: 10px;
            margin-right: auto;
            color: #fff;
        }

        .rightHead{
            font-size: 0.8rem;
            &>*{

                font-family: 'Roboto', sans-serif;
            }
        }
    }
}
.Deployment{
    border-radius: 10px;
    width: 70vw;
    overflow: auto;
    scroll-behavior: smooth;
    scroll-snap-type: y proximity;
    & > *{
        scroll-snap-align: start;
        scroll-padding-top: -10px;
    }

    &::-webkit-scrollbar-track {
        background-color: transparent;
        border-radius: 5px;
    }
    
    /* Define the scrollbar thumb */
    &::-webkit-scrollbar-thumb {
        background-color: #2c7a8e;
        border-radius: 5px;
    }
    
    /* Define the scrollbar thumb on hover */
    &::-webkit-scrollbar-thumb:hover {
        background-color: #107892;
    }
    
    /* Hide the scrollbar when not in use */
    &::-webkit-scrollbar {
        display: none;
        width: 5px;
        height: 5px;
    }
}

.animateToMiddle{
    position: fixed;
    animation: gotoMiddle 1s ease-in 1 alternate both;
    animation-play-state: paused;
}
@keyframes gotoMiddle {
    0%{
        transform: translate3d(0 ,0 ,0) rotateY(0deg) scale(1);
        border: 1px solid white;
        box-shadow: 0 0 0px 3px #222;
    }
    1%{
        // transform: translate3d(0 ,0 ,0) rotateY(10deg) ;
        border: 1px solid white;
        box-shadow: 0 0 0px 3px #222;
    }
    25%{
        transform: rotateY(90deg) ;
        border: 1px solid white;
        box-shadow: 0 0 0px 3px #222;
    }
    50%{
        // transform: translate3d(20vw , 20vh,350px) rotateY(90deg) ;
        border: 1px solid blue;
        box-shadow: 0 0 0px 0px #222;
    }
    75%{
        border: 1px solid blue;
        box-shadow: 0 0 0px 0px #222;
    }
    100%{
        transform: translate3d(40vw , 10vh,600px) rotateY(0deg) scale(2);
    }
}