.TabButton{
    width: 100%;
    .mainButton{
        position: relative;
        padding: 0 15px;
        width: 100%;
        height: 100%;
        width: 15em;
        height: 30px;
        border-radius: .2px 1px 1px .2px;
        text-align: center;
        .name{
            z-index: 2;
            padding: 0 5px;
            outline: none;
            display: flex;
            height: 100%;
            place-items: center;
            position: absolute;
        }
        .remove{
            z-index: 2;
            padding: 0 5px;
            outline: none;
            display: flex;
            right:6px;
            height: 100%;
            font-size: larger;
            place-items: center;
            position: absolute;   
            border-radius: 2px;
            text-align: center;
            transition: background-color 0.3s ease , font-size 0.3s ease;
            &:hover{
                background-color: rgba($color: gray, $alpha: 0.5);
                font-size: x-large;
            }
        }
    }
}