.container {
  display: flex;
  place-items: center;
  flex-direction: row;
  width: 95%;
  margin: auto;
  margin-bottom: 20px;
}

.fieldset{
  padding: 0px 0px 0 5px;
  transition: border-color 0.2s ease-in-out;
  border-radius: 5px ;
  box-sizing: border-box;
  width: 100%;
  min-height: 3em;
}
.fieldsetFocused {
  border: 2.5px solid #0078d4;
  background-color: whitesmoke;
}

.legend{
  font-size: 1em;
  transition: font-size 0.2s ease-in-out;
  transform-origin: center;
  margin-left: 20px;
  padding: 0 3px 0 ;
}
.legendFocused{
  // font-size: 1.2em;
  color: rgb(255, 0, 212);
}

.selectBox{
  border: none;
  outline: none;
  text-align: center;
}


.input {
  font-size: 16px;
  padding: 10px;
  outline: none;
  min-height: 3em;
  width: 100%;
  resize: vertical;
  border: none;
}

.focused {
  background-color: whitesmoke;
}
