@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: arial;
}
*::selection{
  background: cyan;
  color: #000;
}

body {
  overflow-y: hidden;
  position: relative;

}
#loader{
  position: absolute; 
  width: 100%;
}

.no-scrollbar {
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
  overflow: -moz-scrollbars-none; /* For Firefox */
}

.no-scrollbar::-webkit-scrollbar {
  width: 0;
  height: 0;
}

/* .primary-border {
  border-radius: 4px;
  border: 1px solid #C2C2C2;
} */

.function-variable:focus{
  padding-left: 2px;
  padding-right: 2px;
  outline: 2px solid darkcyan;
  user-select: none;
}

@layer components{
  .primary-border {
    border-radius: 4px;
    border: 1px solid #C2C2C2;
  }
}